.dash-border {
    border-style: dashed;
    border-radius: 10px;
    border-color: blue;
    padding: 1%;
}

.cover {
    width: 250px;
    min-height: 250px;
    max-height: auto;
}
.card {
    width: 1000px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}