{% extends "base.html" %}

{% block content %}
    <form method="post" enctype="multipart/form-data"
            class="mx-auto my-3 w-50" id="content">
        {{form.hidden_tag()}}

        <h3 align="center">Авторизация</h3>

        <div class="form-group">
        {{form.name.label}}</br>
        {{form.name(class="form-control", type="text", placeholder="Введите имя")}}
        {% for error in form.name.errors %}
            <div class="alert alert-warning">
            {{error}}
            </div>
        {% endfor %}
        </div>

        <div class="form-group">
        {{form.password.label}}</br>
        {{form.password(class="form-control", type="password", placeholder="Введите пароль")}}
        {% for error in form.password.errors %}
            <div class="alert alert-warning">
            {{error}}
            </div>
        {% endfor %}
        </div>
        <div>
            <p>{{form.remember_me}} {{form.remember_me.label}}</p>
        </div>

        <div class="form-group text-center mt-2">
        {{form.submit(type="submit", class="btn btn-success")}}
        </div>
    </form>
{% endblock %}
