{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="p-2 mt-2 bg-primary d-flex justify-content-start rounded text-white stats">
    <div>
        <img src="/static/user.png" class="rounded" width="155">
    </div>
    <div>
        <h4>{{user.name}}</h4>
        <div>
            <span style="font-size: 15px; color: #A1AAB9">Добавлено книг в библиотеку:</span>
            <span style="font-weight: 500">{{user.added_books|length}}</span>
        </div>
        <div>
            <span style="font-size: 15px; color: #A1AAB9">Скачано книг:</span>
            <span style="font-weight: 500">{{user.downloaded_books|length}}</span>
        </div>
        <div>
            <span style="font-size: 15px; color: #A1AAB9">Отзывов оставлено:</span>
            <span style="font-weight: 500">{{user.reviews|length}}</span>
        </div>
    </div>
</div>
{% set books = [user.added_books, user.downloaded_books] %}
{% for book_list in books %}
{% if book_list == user.added_books %}
<p>Добавленные книги</p>
{% else %}
<p>Скачанные книги</p>
{%endif%}
{% for book in book_list%}
<div class="list-group-item d-flex flex-row justify-content-start">
    <div class="me-1"><img class="cover" src="{{'/' + book.data_folder + '/cover'}}" alt="обложка"/></div>
    <div>
        <h5>{{book.title}}</h5>
        <p><strong>Описание:</strong> {{book.description}}</p>
        <p><strong>Автор:</strong> {{book.author.name}}</p>
        <p><strong>Жанр:</strong> {{book.genre.name}}</p>
        {% set datetime = book.date_added.strftime("%d.%m.%Y %H:%M")%}
        <p>Книга добавлена {{datetime[0:10]}} в {{datetime[10:]}}</p>
        <p><strong>Количество загрузок:</strong> {{book.downloads_count}}</p>
        <a class="btn btn-primary me-1" href="/books/id={{book.id}}/get/epub">Скачать EPUB</a>
        <a class="btn btn-primary mx-1" href="/books/id={{book.id}}/get/fb2">Скачать FB2</a>
        <a class="btn btn-primary ms-1" href="/books/id={{book.id}}/reviews">Отзывы пользователей</a>
    </div>
</div>
{% endfor %}
{% endfor %}
{% else %}
<h3 align="center">Пожалуйста, авторизируйтесь, чтобы увидеть информацию о своём профиле</h3>
{% endif %}
{% endblock %}
