{% extends "base.html" %}

{% block content %}
{% if not book.reviews %}
<h2 align="center">Отзывов пока нет</h2>
{% else %}
<h2 align="center">Список отзывов</h2>
{% endif %}
{% if current_user.is_authenticated %}
<div class="mb-1" style="text-align: center">
    <a class="btn btn-success" href="/books/id={{book.id}}/reviews/add">Добавить отзыв</a>
</div>
{% else %}
<p class="mb-1" align="center">Авторизуйтесь, чтобы добавить отзыв</p>
{% endif %}
<div class="list-group">
    {% for review in book.reviews %}
    <div class="list-group-item">
        {% set datetime = review.date_added.strftime("%d.%m.%Y %H:%M")%}
        <p>Отзыв пользователя <strong>{{review.user.name}}</strong> от <strong>{{datetime[0:10]}} в
            {{datetime[10:]}}</strong></p>
        <p>{{review.content}}</p>
    </div>
    {% endfor %}

    <!--{% if not book.reviews %}
    <h4 align="center">Отзывов нет</h4>
    {% endif %}-->
</div>
{% endblock %}
